django
django-cors-headers
django-ninja
djangorestframework
markdown
django-filter
rav
python-dotenv
psycopg2
pydantic[email]
django-ninja-jwt[crypto]
django-phonenumber-field[phonenumbers]
Pillow
phonenumbers
pandas
openpyxl
cryptography
requests
pyjwt