# Python dependencies
markdown
rav
python-dotenv
psycopg2
pydantic[email]
Pillow
phonenumbers
pandas
openpyxl
cryptography
requests
pyjwt
python3-saml

# Django dependencies
django
django-cors-headers
django-ninja
djangorestframework
djangorestframework-simplejwt
django-filter
django-ninja-jwt[crypto]
django-phonenumber-field[phonenumbers]
